<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BPMdev">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.BPMdev"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StoreMain" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ReceiptinfoActivity"
            android:theme="@style/AppTheme.Gallery" />
        <activity
            android:name=".InfoActivityAdmin"
            android:theme="@style/AppTheme.Gallery" />
        <activity
            android:name=".AddBook"
            android:theme="@style/AppTheme.Gallery" />
        <activity
            android:name=".ReviseBook"
            android:theme="@style/AppTheme.Gallery" />
        <activity android:name=".SplashActivity$searchBookActivity" />
        <activity android:name=".StaggeredGridEmptyViewActivity" />
        <activity android:name=".MyCart" />
        <activity android:name=".Order" />
        <activity android:name=".Register"></activity>
        <activity android:name=".ReceiptCamera"></activity>
        <activity android:name=".ReceiptList"></activity>
        <activity android:name="ReceiptUseList"></activity>
        <activity android:name="BPMitemtinfoActivity"></activity>
    </application>

</manifest>